.scan-laser {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(90deg, transparent, var(--fb-c-indigo-300), transparent);
  box-shadow:
    0 0 15px var(--fb-c-indigo-500),
    0 0 25px var(--fb-c-indigo-300);
  animation: laserScan 2s ease-in-out infinite alternate;
}

@keyframes laserScan {
  0% {
    top: 5%;
  }
  100% {
    top: 95%;
  }
}
